body {
    font-family: Roboto, sans-serif;
}
.navbar {
    background-color:  #00ABE4;
}
#cabecalho .nav .nav-link.active {
    background-color: #E9F1FA;
    color:  #00ABE4;
}
#cabecalho .nav .nav-link, .navbar-brand, .navbar-brand:hover, .nav-servicos .nav-link.active:hover {
    color: #fff;
    font-family: Michroma, sans-serif;
}
.navbar-toggler {
    background-color: #00ABE4;
}
.section-title {
    font-family: Michroma, sans-serif;
}
#sobre-o-restaurante, #servicos {
    background-color: #E9F1FA;
}
.text-colored {
    color:  #00ABE4;
}
.nav-servicos .nav-link.active,
#fale-conosco button{
    background-color:  #00ABE4;
    color: #fff;
    font-family: Michroma, sans-serif;
}
.nav-servicos .nav-link:hover {
    color:  #00ABE4;
}
.social-links li {
    list-style: none;
    display: inline;
}
.social-links a {
    text-decoration: none;
}
@media (max-width: 767px) {
    .carousel-item img {
        height: 280px;
    }
}.michroma-regular {
    font-family: "Michroma", sans-serif;
    font-weight: 400;
    font-style: normal;
}
#servicos h5{
    font-family: Michroma, sans-serif;

}
.form-label {
    font-family: Michroma, sans-serif;

}
;
